**/.ccls-cache/*
**/.zig-cache/*

*~
*.o
*.a
**/.DS_Store
**/.stack-work
**/*.dSYM
**/*.hi
**/*.o
**/a.out
**/core
**/build-cache
**/zig-cache
**/.actonc.lock
**/.acton.lock
**/.build/
**/*.swp
**/*.ty

backend/actondb
backend/failure_detector/db_messages_test
backend/test/actor_ring_tests_local
backend/test/actor_ring_tests_remote
backend/test/db_unit_tests
backend/test/queue_unit_tests
backend/test/skiplist_test
backend/test/test_client

base/build-cache
base/out

builder/builder
builder/build_runner.zig
builder/zig-cache

compiler/package.yaml
compiler/actonc/package.yaml
compiler/lib/package.yaml
compiler/lsp-server/package.yaml
test/package.yaml

debian/.debhelper
debian/acton/
debian/acton.substvars
debian/debhelper-build-stamp
debian/changelog
debian/files

deps/*
deps-download

dist/*

builder/deps/*

examples/*
!examples/*.*
!examples/*/
examples/**
!examples/**/*.*
!examples/**/*/

test/*
!test/*.*
test/*.log
!test/*/
test/**
!test/Makefile
!test/**/*.*
test/**/*.log
!test/**/*/

# tests organized as acton projects; ignore all but source
test/*/*/out/**
test/*/*/build.sh
compiler/actonc/test/project/*/out
