Source: acton
Section: devel
Priority: optional
Maintainer: Kristian Larsson <kristian@spritelink.net>
Build-Depends:
 bash-completion,
 debhelper-compat (= 13),
 g++,
 haskell-stack,
 libtinfo-dev,
 make,
 zlib1g-dev
Standards-Version: 4.6.0
Homepage: http://www.acton-lang.org
Rules-Requires-Root: no

Package: acton
Architecture: any
Depends:
 libc6 (>= 2.27),
 ${misc:Depends}
Description: Acton Programming Language
 An awesome programming language.
