Source: acton
Section: devel
Priority: optional
Maintainer: Kristian Larsson <kristian@spritelink.net>
Build-Depends:
 debhelper-compat (= 13),
 gcc,
 haskell-stack,
 libbsd-dev,
 libprotobuf-c-dev,
 libutf8proc-dev,
 make
Standards-Version: 4.6.0
Homepage: http://www.acton-lang.org
Rules-Requires-Root: no

Package: acton
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 gcc,
 libprotobuf-c1,
 libutf8proc2
Description: Acton Programming Language
 An awesome programming language.
