Source: acton
Section: devel
Priority: optional
Maintainer: Kristian Larsson <kristian@spritelink.net>
Build-Depends:
 bash-completion,
 debhelper-compat (= 13),
 gcc,
 haskell-stack,
 libprotobuf-c-dev,
 make,
 pkg-config
Standards-Version: 4.6.0
Homepage: http://www.acton-lang.org
Rules-Requires-Root: no

Package: acton
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Acton Programming Language
 An awesome programming language.
